<div ng-controller="DepartmentDashboardController" ng-init="init()">
    <div class="wrapper wrapper-content animated fadeInRight">
        <div class="row"  >
            <div class="col-lg-3" ng-repeat="d in departmentDashboardData">
                <div class="ibox float-e-margins">
                    <div class="ibox-title">
                        <span class="label label-success pull-right">{{d.departmentName}}</span>
                        <h5>{{d.departmentName}}</h5>
                    </div>
                    <div class="ibox-content">
                        <h1 class="no-margins">{{d.noOfEmployees}}</h1>
                        <!-- <div class="stat-percent font-bold text-success">
									98% <i class="fa fa-bolt"></i>
								</div> -->
                        <small>Employees</small>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>