<nav class="navbar-default navbar-static-side" role="navigation">
    <div class="sidebar-collapse">
        <ul class="nav metismenu" id="side-menu">
            <li class="nav-header">
                <div class="dropdown profile-element"> <span>
                            <img alt="image" class="img-circle" src="theme/img/profile_small.jpg" />
                             </span>
                    <a data-toggle="dropdown" class="dropdown-toggle" href="#myprofile">
                        <span class="clear"> <span class="block m-t-xs"> <strong class="font-bold">{{LOGGED_IN_USER.name}}</strong>
                             </span> <span class="text-muted text-xs block">Developer</span> </span>
                    </a>

                </div>
                <div class="logo-element">
                    IN+
                </div>
            </li>
            <li>
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Dashboard</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <!-- <li><a href="#employees_dashboard">Employees</a></li> -->
                    <li><a href="#departments_dashboard">Departments</a></li>
                    <!-- <li><a href="#designations">Designations</a></li> -->
                </ul>
            </li>

            
            <li>
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">HR</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">

<li>
                <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Employees</span><span class="fa arrow"></span></a>
                <ul class="nav nav-second-level collapse">
                    <li><a href="#employees">Active</a></li>
                    <li><a href="#employees/resigned">Resigned</a></li>
                    <li><a href="#employeesdesignations">Update Designations</a></li>

                </ul>
            </li>
                    <li>
                        <a href="#departments"><i class="fa fa-diamond"></i> <span class="nav-label">Departments</span></a>
                    </li>
                    <li>
                        <a href="#designations"><i class="fa fa-diamond"></i> <span class="nav-label">Designations</span></a>
                    </li>
                     <li>
                        <a href="#employeehierarchy"><i class="fa fa-diamond"></i> <span class="nav-label">Employee Hierarchy</span></a>
                    </li>
                </ul>
                <li>
                    <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">LMS</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#holidays">Holidays</a> </li>
                        <li> <a href="#leavetypes">Leave Types</a></li>
                        <li> <a href="#leavestatus">Leave Status</a></li>
                        <li> <a href="#applyleave">Apply Leave</a></li>
                        <li> <a href="#leaves">Leave History</a></li>
                    </ul>
                </li>

                <li>
                    <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Skill App</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#categories">Categories</a></li>
                        <li><a href="#skills">Skills</a></li>
                        <li><a href="#ratings">Ratings</a></li>
                        <li><a href="#myskills">My Skills</a></li>
                       <!-- <li><a href="#userskills">Update Skills</a></li>-->

                    </ul>
                </li>
                <li>
                    <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Tickets</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#createTicket">Create Ticket</a> </li>
                        <li> <a href="#tickets">List Tickets</a></li>
                        <li> <a href="#mytickets">My Tickets</a></li>
                        <li> <a href="#assignedtickets">Assigned Tickets</a></li>
                    </ul>
                </li>
                <li>
                    <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Training</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#trainers">Trainers</a> </li>
                        <li> <a href="#colleges">Colleges</a></li>
                        <li> <a href="#batches">Batches</a></li>
                        <li> <a href="#trainings">Trainings</a></li>
                        <li> <a href="#studentattendance">Student Attendance</a></li>
                    </ul>
                </li>
                 <li>
                    <a href=""><i class="fa fa-th-large"></i> <span class="nav-label">Timesheet</span><span class="fa arrow"></span></a>
                    <ul class="nav nav-second-level collapse">
                        <li><a href="#">Shift Timings</a> </li>
                        <li> <a href="#">Biometric Timings</a></li>
                    </ul>
                </li>
        </ul>

    </div>
</nav>