<div ng-controller="StudentAttendanceController" ng-init="init()">
<div class="row wrapper border-bottom white-bg page-heading" >
    <div class="col-lg-10">
        <h2>Student Attendance</h2>
        <ol class="breadcrumb">
            <li>
                <a href="index.html">Home</a>
            </li>
            <li>
                <a>Student Attendance</a>
            </li>
            <li class="active">
                <strong>List</strong>
            </li>
        </ol>
    </div>
    <div class="col-lg-2">

    </div>
</div>
<div class="wrapper wrapper-content animated fadeInRight">
    <div class="row">
        <div class="col-lg-12">
            <div class="ibox float-e-margins">
                <div class="ibox-title">
                    <h5>Student Attendance</h5>
                    <div class="ibox-tools">
                        <a class="collapse-link">
                            <i class="fa fa-chevron-up"></i>
                        </a>
                        <a class="dropdown-toggle" data-toggle="dropdown" href="#">
                            <i class="fa fa-wrench"></i>
                        </a>
                        <a class="close-link">
                            <i class="fa fa-times"></i>
                        </a>
                    </div>
                </div>
                <div class="ibox-content">
                    <div class="table-responsive">
                        <table class="table table-striped table-bordered table-hover dataTables-example">

                            <thead>
                                <tr>
                                    <th width="5%">Sno</th>
                                    <th> Student Name </th>
                                    <th> Department </th>
                                    <th> College Name </th>
                                    <th> Batch Name </th>                                    
                                    <th> Training Date </th> 
                                    <th> Attended </th>                                   
                                   <!-- <th>Action</th> -->
                                </tr>
                            </thead>
                            <tbody>                                
                                <tr ng-repeat="t in studentattendances">
                                    <td>{{$index+1}}</td> 
                                    <td> {{t.student.name}}    </td>
                                    <td> {{t.student.department}}    </td>
                                    <td> {{t.training.batch.college.name}}    </td>
                                    <td>{{t.training.batch.name}} </td>
                                    <td>{{t.training.trainingDate}}</td> 
                                    <td> {{t.attended==1? "Present" :"Absent"}} </td>                                                                
                                    
                                                                                                                                                     
                                    
                                   <!--  <td class="text-right">
                                      <div class="btn-group">
                                    <button class="btn-white btn btn-xs">View</button>
                                    <button class="btn-white btn btn-xs">Edit</button>
                                    <button class="btn-white btn btn-xs">Delete</button>
                                 </div> -->
                            </td>
                                    
                                </tr>
                            </tbody>
                        </table>
                    </div>

                </div>
            </div>
        </div>
    </div>
</div>
</div>